@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Geist+Mono:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Volkhov:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import "tailwindcss";
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css" layer(utilities);


@layer theme, base, components, utilities;
@layer base {
  :root.dark {
    color-scheme: dark;
    --theme-bg: #1a1c1e;
    --theme-text: oklch(92.9% 0.013 255.508);
    --theme-link: #6fb7c5;
    --theme-accent: oklch(64.5% 0.246 16.439);
    --theme-accent-2: #bdbdbd;
    --theme-quote: #ffa07a;
    --theme-menu-bg: rgba(26, 28, 30, 0.9);
  }

  @theme {
    --font-volkhov: 'Volkhov', sans-serif;
    --font-montserrat: 'Montserrat', serif;
    --font-geist: 'Geist Mono', monospace;
    --color-shopify: #5E8E3E;
    --color-magento: #EB6006;
    --color-bgColor: var(--theme-bg);
    --color-textColor: var(--theme-text);
    --color-link: var(--theme-link);
    --color-accent: var(--theme-accent);
    --color-accent2: var(--theme-accent-2);
    --color-darkBgLight: #242627;
  }


@theme inline {
  --font-sans: var(--font-montserrat);
  --font-serif: var(--font-volkhov);
  --font-mono: var(--font-geist);
}

  html {
    @apply scroll-smooth;
  }

  section p {
    margin-bottom: 1rem;
    line-height: 1.6;
  }
}

html {
  transition: background-color 0.3s ease, color 0.3s ease;
  background-color: var(--theme-bg);
}
body {
  @apply mx-auto flex h-full max-w-3xl flex-col px-8 pt-16 font-sans text-sm font-normal antialiased;
  color: var(--theme-text);
  transition: background-color 0.3s ease, color 0.3s ease;
}

a, button, input, select {
  transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.bg-quoteBg {
  background-color: var(--quote-bg);
}
.text-quoteText {
  color: var(--quote-text);
}
