---
const year = new Date().getFullYear();
---

<footer
  class="fmt-auto w-full pt-20 pb-6 text-center text-sm text-textColor/60"
>
  <div
    class="text-zinc-300/40 max-w-4xl mx-auto flex flex-col items-center justify-between gap-4 px-4 sm:flex-row"
  >
    <div class="text-xs sm:text-sm">
      &copy; {year} -
      <span class="font-montserrat font-semibold tracking-wide">RNDGF</span>
    </div>
    <div class="flex flex-wrap gap-4 text-sm">
      <a href="/references" class="hover:underline">Références</a>
      <a href="/cv" class="hover:underline">CV</a>
    </div>
  </div>
</footer>
