---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import aboutImg from "../assets/about-astro.png";

const meta = {
	title: "À propos de ce site",
	description: "",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">À propos de ce site</h1>
		<p>
        Ce site est propulsé par <a href="https://astro.build/">Astro</a>, décoré avec le template <a href="https://github.com/chrismwilliams/astro-cactus">Astro Cactus</a>, versionné avec <a href="http://git-scm.com/">Git</a> et hébergé par <a href="https://www.gandi.net/">gandi</a>.<br/>
        &lt;&gt; avec ❤ par moi-même :)
		</p>
	</div>
</PageLayout>
