---
import PageLayout from "@/layouts/Base";

const meta = {
  title: "À propos de ce site",
  description: "",
};
---

<PageLayout meta={meta}>
  <div class="max-w-2xl mx-auto prose prose-cactus text-textColor px-4">
    <h1 class="title">À propos de ce site</h1>

    <p>
      Ce site est propulsé par <a href="https://astro.build/" target="_blank">Astro</a>, codé avec Visual Studio, versionné avec <a href="http://git-scm.com/" target="_blank">Git</a> et hébergé chez <a href="https://www.gandi.net/" target="_blank">Gandi</a>.
    </p>
  </div>
</PageLayout>
