---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";
---

<PageLayout meta={{ title: "Accueil" }}>
	<section>
		<h1 class="title mb-6">
      Consultant technique e-commerce<br/>
      Développeur web<br/>
      <span class="text-shopify">Shopify</span> & <span class="text-magento">Magento</span></h1>
		<p class="mb-4">
			Développeur et chef de projet technique expérimenté, spécialisé dans le e-commerce et notamment sur les plateformes <strong class="text-shopify">Shopify</strong> et <strong class="text-magento">Magento Adobe Commerce</strong>.</p>
    <p class="mb-4">
      Je suis passionné depuis près de 20 ans par le développement web et tout particulièrement par la mise en place de sites e-commerce.
    </p>
    <p class="mb-4">
      Depuis plus de 12 ans, j'accompagne avec succès de grandes marques dans la réalisation de leurs projets e-commerce au sein d'une importante agence digitale parisienne pour laquelle j'accompagne depuis plus de 12 ans <a href="/references.html">de grandes marques</a> dans la réussite de leur projets e-commerce.
    </p>
    <p class="mb-4">
      Fort de cette expérience, je vous mes services en tant que chef de projet technique e-commerce et/ou développeur web.
		</p>
		<p>Je vis à Rouen, en Normandie, et travaille principalement en distanciel.</p>
	</section>
</PageLayout>
