---
const emailAddress = "renaud.gouffe@gmail.com";
---

<section class="mt-24 text-center max-w-screen-sm mx-auto px-4 font-sans">
  <h2 class="text-3xl font-extrabold mb-6">
    <i class="fab fa-shopify text-3xl mb-2 mr-2"></i>
    Discutons de votre projet Shopify
  </h2>
  <p class="text-textColor text-lg mb-10">
    Vous êtes un e-commerçant, une agence ou un porteur de projet Shopify ?
    Parlons de vos besoins et de vos enjeux techniques.
  </p>
  <a
    href=`mailto:${emailAddress}`
    class="inline-block bg-accent/90 text-white font-semibold px-16 py-5 rounded text-xl transition hover:bg-rose-700/90 hover:scale-105"
    aria-label="Contacter Renaud Gouffé par email"
  >
    Me contacter
  </a>
</section>
