---
const emailAddress = "renaud.gouffe@gmail.com";
---

<section
  class="mt-16 text-center max-w-screen-sm mx-auto px-4 font-sans bg-accent/5 border-1 border-accent/40 rounded p-8"
>
  <h2 class="text-3xl font-extrabold mb-6">
    <i class="fab fa-shopify text-3xl mb-2 mr-2"></i>
    Discutons de votre projet Shopify
  </h2>
  <p class="text-textColor text-xl mb-10">
    Vous êtes un e-commerçant, une agence ou un porteur de projet Shopify ?
    Parlons de vos besoins et de vos enjeux techniques.
  </p>
  <a
    href=`mailto:${emailAddress}`
    class="inline-block bg-accent/90 text-white font-semibold px-8 py-4 rounded text-2xl transition hover:bg-rose-700/90 hover:scale-105"
    aria-label="Contacter Renaud Gouffé par email"
  >
    Me contacter
  </a>
</section>
